@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Vought Superhero Systems</h1>
    
    <a href="C:\Users\Parker\source\repos\Required\Required\flashog.png"></a>
</div>
