/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: brown;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
<a class="navbar-brand" href="#" > Navbar</a >
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation" >
<span class="navbar-toggler-icon" > </span >
</button >

<div class="collapse navbar-collapse" id="navbarColor02" >
<ul class="navbar-nav mr-auto" >
<li class="nav-item active" >
<a class="nav-link" href="#" > Home <span class="sr-only" > (current)</span > </a >
</li >
<li class="nav-item" >
<a class="nav-link" href="#" > Features</a >
</li >
<li class="nav-item" >
<a class="nav-link" href="#" > Pricing</a >
</li >
<li class="nav-item" >
<a class="nav-link" href="#" > About</a >
</li >
</ul >
<form class="form-inline my-2 my-lg-0" >
<input class="form-control mr-sm-2" type="text" placeholder="Search" >
<button class="btn btn-secondary my-2 my-sm-0" type="submit" > Search</button >
</form >
</div >
</nav >

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
